/* color palette from <https://github.com/vuejs/theme> */
:root {
  --c-primary: #6c63fe;
  --c-danger: #e20303;

  --c-white: #ffffff;
  --c-white-soft: #f8f8f8;
  --c-white-mute: #f2f2f2;

  --c-black: #181818;
  --c-black-soft: #222222;
  --c-black-mute: #282828;

  --c-indigo: #2c3e50;

  --c-divider-light-1: rgba(60, 60, 60, 0.29);
  --c-divider-light-2: rgba(60, 60, 60, 0.12);

  --c-text-light-1: var(--vt-c-indigo);
  --c-text-light-2: rgba(60, 60, 60, 0.66);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--c-white);
  --color-background-soft: var(--c-white-soft);
  --color-background-mute: var(--c-white-mute);

  --color-border: var(--c-divider-light-2);
  --color-border-hover: var(--c-divider-light-1);

  --color-heading: var(--c-text-light-1);
  --color-text: var(--c-text-light-1);

  --color-primary: var(--c-primary);
  --color-danger: var(--c-danger);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  margin: 12px;
  color: var(--color-text);
  background: var(--color-background-soft);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
